@import "tailwindcss";


@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}


:root, body, #root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;

  font-family: var(--font-sans);
  background-color: #f8fafc;
  color: #1e293b;
  overflow-x: hidden;
  
  display: block !important; 
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  font-weight: 500;
  color: #3b82f6;
  text-decoration: inherit;
}